body {
    font-family: Arial;
    padding: 20px;
    background: #dae9f5;
  }

  ul {
      list-style-type: none;
      font-size: 20px;
  }
  
.header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: #FAF9F6;
  }

  .abtme {
      text-align: center;
  }

  .column {
    margin-left: auto;
    margin-right: auto;
  }

  .card {
    background-color: #FAF9F6;
    padding: 20px;
    margin-top: 20px;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .footer {
    position: absolute;
   text-align: center;
  }

  @media screen and (max-width: 800px) {
    .column {
      width: 100%;
      padding: 0;
    }